
a {
    color: inherit;
}
a:hover, a:focus {
    color: var(--primary);
    background: var(--link-hover-bg);
    outline: none;
    border-radius: .2em;
}
.title-big:hover,
.title-big:focus {
    color: var(--home-hover);
    background: var(--dark);
}

.footer-nav-icon:focus,
.footer-nav-icon:hover {
    background: var(--dark);
}
.footer-nav-icon.home:focus,
.footer-nav-icon.home:hover {
    color: var(--home-hover);
}

.footer-nav-icon.twitter:focus,
.footer-nav-icon.twitter:hover {
    color: var(--twitter-hover);
}
.footer-nav-icon.contact:focus,
.footer-nav-icon.contact:hover {
    color: var(--contact-hover);
}

.skip-link:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: inherit;
}

.logo {
    display: block;
    width: 80vw;
    margin: auto;
    padding: 0.5rem 0 0;
    animation-direction: alternate;
}

@media only screen and (min-width: 460px) {
    .logo {
        max-width: 33vw;
        height: auto;
    }
}

.full-img {
    display: block;
    width: 100%;
    height: auto;
}

pre {
    max-width: 100%;
    overflow: auto;
}


header {
    display: block;
}

header ul {
    padding-left: 0;
}

main {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.flex {
    display: flex;
}


.justify-around {
    justify-content: space-around;
}
.space-between {
    justify-content: space-between;
}

.dib {
    display: inline-block;
}

.header-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tc {
    text-align: center;
}

.articles {
    text-align: left;
    max-width: 30rem;
    margin: 0 auto;
}
.mt-0 {
    margin-top: 0 !important;
}
.article-prompt {
    padding: 0.2em;
    border-radius: 0.2em;
    background: var(--article-preview-bg);
    border: .1em solid black;
    color: var(--article-preview-text);
    box-shadow: .2em .2em black;
    &:hover, &:focus {
        border-color: var(--article-preview-text);
        box-shadow: .2em .2em var(--article-preview-hover);
    }
}

.article-prompt time {
    font-size: 1rem;
}
.article-prompt .reading-time {
    font-size: 0.8rem;
    margin-top: 0.5rem;
}


.site-footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

img {
    max-width: 100%;
}

.footer-nav-icon {
    font-family: var(--font-fancy);
    font-size: 1rem;
    height: 2.5rem;
    padding: 0 0.5rem;
    display: inline-flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
}

.footer-nav-icon svg {
    width: 2em;
    fill: currentColor;
    margin-right: 0.8rem;
}
.footer-nav-icon .icon-twitter {
    width: 1.6em;
}

.header-list > span {
    visibility: none;
}

.page-link {
    text-decoration: none;
    display: block;
    &:hover,&:focus {
        background-color: var(--article-preview-bg);
        color: var(--article-preview-text);
    }
}

code {
    background: linear-gradient(to bottom right, #e6adda, #caade6, #caade6, #e6adda);
    border: 1px solid black;
    margin: .1em;
}


