.mb-sm {
    margin-bottom: 0.5rem;
}
.mb-md {
    margin-bottom: 1rem;
}
.mt-md {
    margin-top: 1rem;
}

.ma-sm {
    margin: .5rem;
}

.mb-lg {
    margin-bottom: 2rem;
}
.mt-lg {
    margin-top: 2rem;
}