.filterLabel {
    padding: 0.2rem;
    line-height: 1;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: underline;
}
.tagInput {
    top: 100px;
}
