:root {
    --background: lightblue;
    --pink: #e6adda;
    --dark:  black;
    --primary: azure;
    --link-hover-bg: #2D6FE7;
    --home-hover: #e71a3c;
    --twitter-hover: rgba(29,161,242,1.00);
    --article-preview-bg: #8bb4f6cf;
    --article-preview-text: #100a14;
    --article-preview-shadow: #0a0640d4;
    --article-preview-hover: #f336d6;
    --article-background-hover: #eca0ff;
    --code-start: #eca0ff;
    --code-middle: #aab2ff;
    --code-end: #84ffc9;
    --font-default: sans-serif;
    --font-fancys: 'Baloo Tamma', sans-serif;
}
body, html {

    margin: 0;
    padding: 0;
}
html {
    line-height: 1.5;
}
a {
    color: inherit;
}
.skip-link,
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

body {
    background: var(--background);
    overflow-x: hidden;
    font-family: var(--font-default);
}


.smFlex {
    display: block;
}
@media only screen and (min-width: 401px) {
    html {
        font-size: 20px;
    }
    .smFlex {
        display: flex;
    }
}
@media only screen and (min-width: 768px) {
    html {
        font-size: 26px;
    }
}
@media only screen and (min-width: 1100px) {
    html {
        font-size: 30px;
    }
}
.icon.waving {
    width: 3rem;
}
.tc {
    text-align: center;
}

.dib {
    display: inline;
}

.invis {
    display: none;
}