:root{
  --tips: #329b9b;
}

@keyframes tipsColor {
    0% { color: var(--tips);}
    25% {color:#3ea5a5;}
    50% {color:#55b3b3;}
    75% {color: #3a9999;}
    100% {color: var(--tips);}
}

.tipsColor {
    color: var(--tips);
    fill: currentColor;
    stroke: currentColor;
}

.outline {
    stroke:#000000;
    stroke-linecap:butt;
    stroke-linejoin:round;
    stroke-miterlimit:4;
    stroke-dasharray:none;
    stroke-opacity:.8;
    stroke-width:.2rem;
 }

.logo a:hover,.logo a:focus {
    background: none;
    .tipsColor {
        color: var(--link-hover-bg);
    }
}