.outline {
    fill:none;
    stroke:var(--article-preview-text);
    stroke-linecap:butt;
    stroke-linejoin:round;
    stroke-miterlimit:4;
    stroke-dasharray:none;
    stroke-opacity:.8;
    stroke-width:.2rem;
 }

 .color {
    animation-name: color;
    fill: var(--background);
 }

hr {
    border-top: 4px solid;
    border-radius: 4px;
    border-color: var(--accent);
    background-color: var(--accent);
    width: 80%;
    margin: auto;
}

.logo a:hover,.logo a:focus {
    background: none;
    .tipsColor {
        color: var(--link-hover-bg);
    }
}

.tough path {
    fill: var(--accent);
    stroke: var(--article-preview-text);
    stroke-width: .2rem;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}