@keyframes color {
    0% { fill: #ffadad;}
    13% {fill: #ffd6a5;}
    26% {fill: #fdffb6;}
    39% {fill: #caffbf;}
    52% {fill: #9bf6ff;}
    65% {fill: #a0c4ff;}
    78% {fill: #bdb2ff;}
    91% {fill: #ffc6ff;}
    100% { fill: #ffadad;}
 }