{{ $tags := slice }}
{{ $tagNames := slice }}
{{ range $key, $taxonomy := .Site.Taxonomies.tags }}
    {{ $tags = $tags | append ( $key | urlize ) }}
    {{ $tagNames = $tagNames | append .Page.Title }}
{{end }}
<style>
    .filteredContent > * {
        display: none;
    }
    {{ range $tags }}
    #{{ .  }}:checked ~ .filterLabels [for="{{ . }}"] {
    background-color: rgb(7, 75, 121);
    color: #fff;
}
#{{ . }}:checked ~ .filteredContent .{{ . }} {
    display: block;
}
{{ end }}
</style>

{{ range $tags }}
<input class="sr-only" type="radio" aria-label="Hide {{ . }}" id="{{ . }}" value="{{ . }}" name="filterGroupNameExample" />
{{ end }}

<div class="filterLabels">
    <h4>Filter By Topic:</h4>
    {{ range $index, $tag := $tags }}
        <label class="inline-block p-sm mrb-sm bg-gray" for="{{ $tag }}">
            {{- index $tagNames $index -}}
        </label>
    {{ end }}
</div>


{{/* Make sure classnames on filterable content matches the urlized titles of the filters */}}
<div class="filteredContent">
    <div class="api">API</div>
    <div class="filter-2">Filter 2</div>
    <div class="filter-1 filter-2">Filter 1 and filter 2</div>
</div>
