<div id="mc_embed_wrapper">
<h4>We Want You To Want Us To Email You:</h4>
    <div>
        <button onclick="document.getElementById('mc_embed_wrapper').style.display = 'none';">
            I Do Not Want Email.
        </button>
    </div>
<div id="mc_embed_signup">
<form action="https://toughpixels.us5.list-manage.com/subscribe/post?u=ad009becbeef72f67fdf4167a&amp;id=ecc027a28c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">If you want email, tell us</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="your email," required>
    <div class="mc-field-group">
        <label for="mce-FREQUENCY">Also, how many emails per year?</label>
        <select name="FREQUENCY" id="mce-FREQUENCY" required>
        <option value="One">One</option>
        <option value="Two">Two</option>
        <option value="Four">Four</option>
        </select>
    </div>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ad009becbeef72f67fdf4167a_ecc027a28c" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="I Definitely Want Email" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</div>
</form>
</div>
</div>