{{ define "main" }}
<main class="container tc">
    <p class="lead">{{ .Params.Description }}</p>
    <div class="mb-md">
        {{- partial "svg-waving-hand.html" . -}}
    </div>
    
    <div class="mb-md">
        {{ .Content }}
    </div>
    {{ range where .Pages "Section" "tips" }}
    
        <section class="tl articles">
            {{- range first 1 .Pages }}
            
            <a class="page-link" href="{{.Permalink}}">
                <article class="article-prompt">
                    <header>
                        <h3 class="mt-0">{{.Title}}</h3>
                    </header>
                    <footer>
                        <time datetime="{{ .PublishDate }}">{{.PublishDate.Format "January 2, 2006"}}</time>
                        {{- partial "reading-time.html" . -}}
                    </footer>
                </article>
            </a>
            {{- end }}
        </section>
    {{- end }}
</main>
{{ end }}