<style>
    .theme-section {
        padding: 2rem 0;    
    }
    .space-y-md > * + * {
        margin-top: 1rem;
    }
</style>
<div class="theme">
<div class="containerPull-both bg-white">
    <div class="theme-section bg-dark">
        <div class="container text-center prose">
            <h3>Dark background example</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quidem, provident a earum cum quae quis itaque, veniam voluptatem amet adipisci soluta, aliquam esse nesciunt porro odit. Error, officiis corrupti?</p>
        </div>
    </div>
    <div class="theme-section bg-white">
        <div class="container">
            <div class="space-y-md">
                <h3>Tinted header</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a role="button">text link inside a paragraph</a> dolores ratione optio est! At harum eaque fugit sapiente maiores sunt quod vitae aperiam cum excepturi?</p>
                <div>
                    <button class="btn btn-primary">Primary Button</button>
                </div>
                <div>
                    <button class="btn btn-secondary">Secondary Button</button>
                </div>
                <div>
                    <label>
                        <span class="label">Label</span>
                        <input class="textInput" value="form input" />
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="theme-section bg-offwhite">
        <div class="container prose">
            <h3>An off-white background example</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus distinctio quam veniam ab nobis odio unde, amet eum laudantium quasi consequatur quae deserunt doloribus repudiandae atque voluptate, dicta delectus. Aspernatur.</p>
        </div>
    </div>
</div>
</div>